<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout}">

<div layout:fragment="page_content" class="col-12">
 <div class="col-12 ">
  <div class="row">
   <form  method="post" th:action="@{escolherValorCriterio}">
    <div class="rounded col-12"
     style="margin-top: 1vh; margin-bottom: 1vh; padding-bottom: 10px;">
     <div class="col-12 ">
      <h2 style="color: #545454">Selecione os critérios:</h2>
     </div>
     <div class="card-columns col-xl-12 ">
      <div class="card border-primary " id="formacao"
       style="background-color: #fff">
       <div class="card-header">
        <label style="font-size: 20px;">Formação</label>
       </div>
       <div class="card-body" id="formacaoMisto">
        <div class="form-check">
         <div>
          <input type="checkbox" class="form-check-input"
           id="checkboxformacaoMarkAll" onclick="formacaoMarkAll(this)">
          <label class="form-check-label" for="checkboxformacaoMarkAll" style="font-size: 20px;">
           Marcar todos </label>
         </div>
         <hr style="border-top: 1.5px solid #8c8b8b;">
         <th:block
          th:each="formacao,formacaostatus : ${estr.getListEst().get(0).getListCrit()}">
          <div class="col form-check">
            <div class="my-auto" >
            <input class="formacao form-check-input" type="checkbox"
             th:id="${'formacao'+formacaostatus.index}" name="formacao"  
             th:value="${formacao.getAbre()}">
            </div>
            <div class=" my-auto" >
          <label class="form-check-label" style="font-size: 20px;"
           th:for="${'formacao'+formacaostatus.index}" 
           th:text="${formacao.getCriterio()}" >
            </label>
          <br>
          </div>
          </div>
         </th:block>
        </div>
       </div>
      </div>
      <div class="card border-primary " id="ProdArt"
       style="background-color: #fff">
       <div class="card-header">
        <label style="font-size: 20px;">Produção Artistica</label>
       </div>
       <div class="card-body" id="ProdArtMisto">
        <div class="form-check">
         <div>
          <input type="checkbox" class="form-check-input"
           id="checkboxProdArtMarkAll" onclick="ProdArtMarkAll(this)">
          <label class="form-check-label" for="checkboxProdArtMarkAll" style="font-size: 20px;">
           Marcar todos </label>
         </div>
         <hr style="border-top: 1.5px solid #8c8b8b;">
         <th:block
          th:each="formacao,ProdArtstatus : ${estr.getListEst().get(2).getListCrit()}">
          <div class="col form-check">
            <div class="my-auto" >
          <input class="ProdArt form-check-input" type="checkbox"
           th:id="${'ProdArt'+ProdArtstatus.index}" name="ProdArt" th:value="${formacao.getAbre()}">
           </div>
            <div class=" my-auto" >
          <label class="form-check-label"
           th:for="${'ProdArt'+ProdArtstatus.index}" style="font-size: 20px;"
           th:text="${formacao.getCriterio()}"> </label>
          <br>
          </div>
          </div>
         </th:block>
        </div>
       </div>
      </div>
      <div class="card border-primary " id="ParEvento"
       style="background-color: #fff">
       <div class="card-header">
        <label style="font-size: 20px;">Participação de Evento</label>
       </div>
       <div class="card-body" id="ParEventoMisto">
        <div class="form-check">
         <div>
          <input type="checkbox" class="form-check-input"
           id="checkboxParEventoMarkAll"
           onclick="ParEventoMarkAll(this)"> <label
           class="form-check-label" for="checkboxParEventoMarkAll" style="font-size: 20px;">
           Marcar todos </label>
         </div>
         <hr style="border-top: 1.5px solid #8c8b8b;">
         <th:block
          th:each="formacao,ParEventostatus : ${estr.getListEst().get(7).getListCrit()}">
          <div class="col form-check">
            <div class="my-auto" >
          <input class="ParEvento form-check-input" type="checkbox"
           th:id="${'ParEvento'+ParEventostatus.index}" name="ParEvento"
           th:value="${formacao.getAbre()}">
           </div>
            <div class=" my-auto" >
          <label class="form-check-label"
           th:for="${'ParEvento'+ParEventostatus.index}" style="font-size: 20px;"
           th:text="${formacao.getCriterio()}"> </label>
          <br>
          </div>
          </div>
         </th:block>
        </div>
       </div>
      </div>
      <div class="card border-primary " id="ProdTec"
       style="background-color: #fff">
       <div class="card-header">
        <label style="font-size: 20px;">Produção Técnica</label>
       </div>
       <div class="card-body" id="ProdTecMisto">
        <div class="form-check">
         <div>
          <input type="checkbox" class="form-check-input"
           id="checkboxProdTecMarkAll" onclick="ProdTecMarkAll(this)">
          <label class="form-check-label" for="checkboxProdTecMarkAll" style="font-size: 20px;"> 
           Marcar todos </label>
         </div>
         <hr style="border-top: 1.5px solid #8c8b8b;">
         <th:block
          th:each="formacao,ProdTecstatus : ${estr.getListEst().get(1).getListCrit()}">
          <div class="col form-check">
            <div class="my-auto" >
          <input class="ProdTec form-check-input" type="checkbox"
            th:id="${'ProdTec'+ProdTecstatus.index}" name="ProdTec" th:value="${formacao.getAbre()}">
            
            </div>
            <div class=" my-auto" >
          <label class="form-check-label"
           th:for="${'ProdTec'+ProdTecstatus.index}" style="font-size: 20px;"
           th:text="${formacao.getCriterio()}"> </label>
          <br>
          </div>
          </div>
         </th:block>
        </div>
       </div>
      </div>
      <div class="card border-primary " id="DadosGerais"
       style="background-color: #fff">
       <div class="card-header">
        <label style="font-size: 20px;">Dados Gerais</label>
       </div>
       <div class="card-body" id="DadosGeraisMisto">
        <div class="form-check">
         <div>
          <input type="checkbox" class="form-check-input"
           id="checkboxDadosGeraisMarkAll"
           onclick="DadosGeraisMarkAll(this)"> <label
           class="form-check-label" for="checkboxDadosGeraisMarkAll" style="font-size: 20px;">
           Marcar todos </label>
         </div>
         <hr style="border-top: 1.5px solid #8c8b8b;">
         <th:block
          th:each="DadosGerais,DadosGeraisstatus : ${estr.getListEst().get(6).getListCrit()}">
          <div class="col form-check">
            <div class="my-auto" >
          <input class="DadosGerais form-check-input" type="checkbox"
           th:id="${'DadosGerais'+DadosGeraisstatus.index}"  name="DeEx"
           th:value="${DadosGerais.getAbre()}">
           </div>
            <div class=" my-auto" >
          <label class="form-check-label"
           th:for="${'DadosGerais'+DadosGeraisstatus.index}" style="font-size: 20px;"
           th:text="${DadosGerais.getCriterio()}"> </label>
          <br>
          </div>
          </div>
         </th:block>
        </div>
       </div>
      </div>
      <div class="card border-primary " id="Orien"
       style="background-color: #fff">
       <div class="card-header">
        <label style="font-size: 20px;">Orientações</label>
       </div>
       <div class="card-body" id="OrienMisto">
        <div class="form-check">
         <div>
          <input type="checkbox" class="form-check-input"
           id="checkboxOrienMarkAll" onclick="OrienMarkAll(this)">
          <label class="form-check-label" for="checkboxOrienMarkAll" style="font-size: 20px;">
           Marcar todos </label>
         </div>
         <hr style="border-top: 1.5px solid #8c8b8b;">
         <th:block
          th:each="Orien,Orienstatus : ${estr.getListEst().get(4).getListCrit()}">
          <div class="col form-check">
            <div class="my-auto" >
          <input class="Orien form-check-input" type="checkbox"
          th:id="${'Orien'+Orienstatus.index}"  name="Orien" th:value="${Orien.getAbre()}">
          </div>
            <div class=" my-auto" >
          <label class="form-check-label"
           th:for="${'Orien'+Orienstatus.index}" style="font-size: 20px;"
           th:text="${Orien.getCriterio()}"> </label>
          <br>
          </div>
          </div>
         </th:block>
        </div>
       </div>
      </div>
      <div class="card border-primary " id="Banc"
       style="background-color: #fff">
       <div class="card-header">
        <label style="font-size: 20px;">Bancas</label>
       </div>
       <div class="card-body" id="BancMisto">
        <div class="form-check">
         <div>
          <input type="checkbox" class="form-check-input"
           id="checkboxBancMarkAll" onclick="BancMarkAll(this)">
          <label class="form-check-label" for="checkboxBancMarkAll" style="font-size: 20px;">
           Marcar todos </label>
         </div>
         <hr style="border-top: 1.5px solid #8c8b8b;">
         <th:block
          th:each="Banc,Bancstatus : ${estr.getListEst().get(5).getListCrit()}">
          <div class="col form-check">
            <div class="my-auto" >
          <input class="Banc form-check-input" type="checkbox" id="Banc" name="Banc"
          th:id="${'Banc'+Bancstatus.index}"  th:value="${Banc.getAbre()}">
          </div>
            <div class=" my-auto" >
          <label class="form-check-label"
           th:for="${'Banc'+Bancstatus.index}" style="font-size: 20px;"
           th:text="${Banc.getCriterio()}"> </label>
          <br>
          </div>
          </div>
         </th:block>
        </div>
       </div>
      </div>
      <div class="card border-primary " id="ProdBibli"
       style="background-color: #fff">
       <div class="card-header">
        <label style="font-size: 20px;">Produção Bibliografica</label>
       </div>
       <div class="card-body" id="ProdBibliMisto">
        <div class="form-check">
         <div>
          <input type="checkbox" class="form-check-input"
           id="checkboxProdBiblMarkAll" onclick="ProdBiblMarkAll(this)">
          <label class="form-check-label" for="checkboxProdBiblMarkAll" style="font-size: 20px;">
           Marcar todos </label>
         </div>
         <hr style="border-top: 1.5px solid #8c8b8b;">
         <th:block
          th:each="ProdBibl,ProdBiblistatus : ${estr.getListEst().get(3).getListCrit()}">
          <div class="col form-check">
            <div class="my-auto" >
          <input class="ProdBibl form-check-input" type="checkbox"
           th:id="${'ProdBibl'+ProdBiblistatus.index}" name="ProdBibl"
           th:value="${ProdBibl.getAbre()}">
           </div>
            <div class=" my-auto" >
          <label class="form-check-label"
           th:for="${'ProdBibl'+ProdBiblistatus.index}" style="font-size: 20px;"
           th:text="${ProdBibl.getCriterio()}"></label>
          <br>
          </div>
          </div>
         </th:block>
        </div>
       </div>
      </div>
     </div>
     <hr style="background-color: black;">
     <div class="col-12 row"
      style="padding-right: 0px; margin-right: 0px;">
      <div class="col-2 offset-10" style="padding-right: 0px;">
       <a class="btn btn-outline-dark" href="index" role="button">Voltar</a>
       <button type="submit" id="submitForm" class="btn btn-primary">Success</button>
      </div>
     </div>
    </div>
   </form>
  </div>
 </div>
</div>
<th:block layout:fragment="scripts">
 <script th:src="@{/js/escolherCriterio.js}"></script>
</th:block>
</html>
