<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout}">

<div layout:fragment="page_content" class="col-12">
<div  class="col-12" >
    <div class="alert alert-danger" role="alert" style="margin-top: 5vh;">
       <h4 class="alert-heading">Versão Teste</h4>
       <p> Projeto em desenvolvimento, pode apresentar instabilidade nos resultados.
       </p>
       </div>
</div>
    
 
 <div class="col-12 align-middle" style="height: 50vh; padding-top: 20vh;" >

   <div class="col-6 offset-3 row">
    <a th:href="@{/escolherCriterio}" id="criarSenha" role="button" class="btn btn-outline-dark  btn-md btn-block">Criar chave </a>
    <a th:href="@{/inserirChave}" role="button" class="btn btn-primary btn-lg btn-block">Avaliar Curriculo </a>
   </div>
   </div>
   </div>
 </html>
	