<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout}">

<div th:fragment="header">
 <div class="container-fluid bg-primary"
  style="height: 100vh; padding-right: 0px;">
  <ul class="nav flex-column">
   <li class="nav-item">
    <div class="btn-group-vertical">
     <div class="btn-group-vertical">
      <div>
       <a class="btn btn-outline-light " aria-pressed="true"
        href="index" role="button"
        style="height: 100%; padding-left: 0px; font-size: 1.2vw; padding-right: 0px; border-right: 0px; border-left: 0px; border-top: 0px; border-radius: 0px; white-space: normal;">DataLattes
       </a> <a class="btn btn-outline-light" data-toggle="tooltip"
        data-placement="right" title="Home" href="index" role="button"
        style="font-size: 1.3vw; border: 0px; border-radius: 0px;">
        <i class="ion-home"> Home</i>
       </a> <a class="btn btn-outline-light" data-toggle="tooltip"
        data-placement="right" title="Sobre a Chave" href="infoChave"
        role="button"
        style="font-size: 1.3vw; border: 0px; border-radius: 0px;">
        <i class="ion-key"> Chave</i>
       </a> <a class="btn btn-outline-light" data-toggle="tooltip"
        data-placement="right" title="Sobre o XML" href="infoXML"
        role="button"
        style="font-size: 1.3vw; border: 0px; border-radius: 0px;">
        <i class="ion-code"> XML</i>
       </a> <a class="btn btn-outline-light" data-toggle="tooltip"
        data-placement="right" title="Informações" href="info"
        role="button"
        style="font-size: 1.3vw; border: 0px; border-radius: 0px;">
        <i class="ion-information-circled"> Info</i>
       </a> <a class="btn btn-outline-light" data-toggle="tooltip"
        data-placement="right" title="Ajuda" href="infoAjuda" role="button"
        style="font-size: 1.3vw; border: 0px; border-radius: 0px;">
        <i class="ion-help-circled"> Ajuda</i>
       </a> <a class="btn btn-outline-light" data-toggle="tooltip"
        data-placement="right" target="_blank" title="Contato" href="https://goo.gl/forms/GoLTJ5pKsaXzkLgh1" role="button"
        style="font-size: 1.3vw; border: 0px; border-radius: 0px;">
        <i class="ion-email"> Contato</i>
        
       </a>
      </div>
     </div>
    </div>
   </li>
  </ul>
 </div>
</div>
</html>