<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Base</title>
<meta charset="utf-8">
<meta name="viewport"
 content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
 integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
 crossorigin="anonymous">
<link rel="stylesheet"
 href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>

<body style="background-color: #f2f2f2;">

 <div class="container-fluid row" style="margin-top:0px; padding-left: 0px; " >
  <div class="col-1" style="padding-left: 0px;padding-right: 0px;">
   <div class="position-fixed col-1" style="padding-left: 0px; padding-right: 0px;">
    <div th:insert="header :: header"></div>
    </div>
    </div>
  </div>
  <div class="offset-1 col-11 row" style="padding-right: 0px;">
   <div layout:fragment="page_content"></div>
  </div>
  
 </div>

 <!-- /.container -->
 <script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
		
	</script>
 <script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
		
	</script>
 <th:block layout:fragment="scripts">
 </th:block>
</body>
</html>