<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout}">
<div layout:fragment="page_content" class="col-12">
 <div class="col-12"></div>
 <div class="col-12 align-middle"
  style=" padding-top: 2vh;">
  <strong style="font-size:4vw;"> Ajuda  </strong>
  <div class="col-12">
   <div class="accordion" id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <span style="font-size:1.5vw;"> O que é o sistema faz ?</span>  
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body" style="font-size:1.1vw;">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson
         ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
          quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on
           it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica
           , craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
            butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
             nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <span style="font-size:1.5vw;">  Como utilizo o sistema ? </span>
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body" style="font-size:1.1vw;">
        O sistema é dividido em 2 duas partes. A primeira parte é a responsável pela
         criação da Chave. Durante o processo é necessário selecionar os anos de validade,
          os critérios e seus respectivos valores e limites de contabilização se existir.
           Ao finalizar o processo o sistema vai disponibilizar o arquivo de Chave.
            Na segunda parte do sistema é necessário utilizar a Chave gerada para submeter
             os critérios, e logo após surge um formulário para submeter o currículo Lattes
              em formato XML que vai ser analisado.  Após a análise é mostrado a pontuação 
              final e o detalhamento de dos itens analisados. Se for necessário é possível
               importar os dados do resultado em formato compatível com Excel. A figura abaixo ilustra as duas etapas
          <br>
          <img th:src="@{/image/Fluxo.png}"/>
      </div>
    </div>
  </div>

</div>
  </div>
  </div>
</div>
</html>
