<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout}">
<div layout:fragment="page_content" class="col-12">
 <div class="col-12"></div>
 <div class="col-12 align-middle"
  style=" padding-top: 2vh;">
  <strong style="font-size:4vw;"> Sobre o Sistema Datalattes </strong>
  <div class="col-12">
   <div class="accordion" id="accordion" style="background-color: white">
   <strong style="font-size:1.2vw;">Motivo:</strong> <br>
   Após observar o tempo gasto com a análise manual de currículo e também de ser um
    trabalho repetitivo e cansativo veio a proposta de desenvolvimento de um sistema
     que busca fazer esse trabalho de forma automatizada, rápida e diminuindo o risco
      de erros. Como o Currículo Lattes é largamente usado em processos seletivos internos
       e externos nas instituições brasileira, o sistema pode ser utilizado como uma forma
        de economia de tempo para profissionais que fazem esse trabalho, sobrando assim
         tempo para outras atividades importantes.
   <p>
   <p>
   <strong style="font-size:1.2vw;">Objetivo do sistema:</strong> <br>
   Tornar automatizado o processo de análise e classificação de dados do currículo Lattes de forma a 
   auxiliar e agilizar o processo de classificação em processos seletivos
   <p>
   <strong style="font-size:1.2vw;">Autor:</strong> <br>
   Welton de Abreu Henriques
   <p>
   <strong style="font-size:1.2vw;">Atualizações:</strong> <br>
   V 1.0.0 - Versão inicial
   
   <p>
</div>
  </div>
  </div>
</div>
</html>
