<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layout}">
<div layout:fragment="page_content" class="col-12">
 <div class="col-12"></div>
 <div class="col-12 align-middle"
  style=" padding-top: 2vh;">
  <strong style="font-size:4vw;"> Sobre o Sistema Datalattes </strong>
  <div class="col-12">
   <div class="accordion" id="accordion" style="background-color: white">
   
   <strong style="font-size:1.2vw;">Objetivo:</strong> <br>
   Tornar automatizado o processo de análise e classificação de dados do currículo Lattes de forma a 
   auxiliar e agilizar o processo de classificação em processos seletivos
   <p>
   <strong style="font-size:1.2vw;">Autor:</strong> <br>
   Welton de Abreu Henriques
   <p>
   <strong style="font-size:1.2vw;">Atualizações:</strong> <br>
   
   <p>
</div>
  </div>
  </div>
</div>
</html>
